apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: strimzi

resources:
  - https://github.com/strimzi/strimzi-kafka-operator/releases/download/0.49.0/strimzi-cluster-operator-0.49.0.yaml
  - namespace.yaml
  - clusterrolebindings.yaml

patches:
  - target:
      kind: RoleBinding
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: strimzi
  - target:
      kind: ClusterRoleBinding
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: strimzi
  - target:
      kind: Deployment
      name: strimzi-cluster-operator
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: strimzi-cluster-operator
      spec:
        template:
          spec:
            containers:
              - name: strimzi-cluster-operator
                env:
                  - name: STRIMZI_NAMESPACE
                    value: '*'
                    valueFrom: null
