apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../applications
- query-api-route.yaml
- streams-processor-route.yaml

patches:
- path: image-pull-policy-patch.yaml

# Image transformations for OpenShift internal registry
images:
- name: smartship/data-generators:latest
  newName: image-registry.openshift-image-registry.svc:5000/smartship/data-generators
  newTag: latest
- name: smartship/streams-processor:latest
  newName: image-registry.openshift-image-registry.svc:5000/smartship/streams-processor
  newTag: latest
- name: smartship/query-api:latest
  newName: image-registry.openshift-image-registry.svc:5000/smartship/query-api
  newTag: latest